---
import Html from "$component/Html.astro";
import Head from "$component/Head.astro";
import Header from "./Header.astro";
import '$style/variables.css'
import '$style/fonts.css'
import '$style/effect.css'
import '$style/utils.css'
import '$style/global.css'
import { locale } from "@lang"

const { frontmatter } = Astro.props;

const {
    title,
    description = `Zihan's personal website and his blog.`,
    author = 'Zihan Chen',
    lang = locale,
    keywords = ['blog', 'zihan', 'personal website'],
    article = false,
    articleImage
} = frontmatter || Astro.props || {}

const {
    margin = 17,
    mobileMargin = 5,
    marginBottom = 10,
    marginRight = false
} = Astro.props

const marginStr = `${margin}%`
const marginRightStr = marginRight ? `${marginRight}%` : marginStr
const mobileMarginStr = `${mobileMargin}%`
const marginBottomStr = `${marginBottom}%`
---

<Html {lang}>
    <Head slot="head" {title} {description} {lang} {author} {keywords} {article}>
        <slot name="head"></slot>
    </Head>

    <Header></Header>

    <main class="sans">
        <slot></slot>
    </main>
    
    <slot name="body"></slot>
</Html>

<style define:vars={{ marginStr, mobileMarginStr, marginBottomStr, marginRightStr }}>
    main {
        margin-top: 2%;
        margin-bottom: var(--marginBottomStr);
    }

    @media (min-width: 400px) {
        main {
            margin-left: var(--marginStr);
            margin-right: var(--marginRightStr);
        }
    }
    
    @media (max-width: 400px) {
        main {
            margin-left: var(--mobileMarginStr);
            margin-right: var(--mobileMarginStr);
        }
    }
</style>