---
import Html from "$component/Html.astro";
import Head from "$component/Head.astro";
import Header from "./Header.astro";
import '$style/variables.css'
import '$style/fonts.css'
import '$style/effect.css'
import '$style/utils.css'

const { frontmatter } = Astro.props;

const {
    title,
    description = `Zihan's personal website and his blog.`,
    author = 'Zihan Chen',
    lang = 'en',
    keywords = ['blog', 'zihan', 'personal website'],
} = frontmatter || Astro.props || {}

const {
    margin = 17,
    mobileMargin = 5,
    marginBottom = 10,
} = Astro.props

const marginStr = `${margin}%`
const mobileMarginStr = `${mobileMargin}%`
const marginBottomStr = `${marginBottom}%`
---

<Html {lang}>
    <Head slot="head" {title} {description} {lang} {author} {keywords}></Head>

    <Header></Header>

    <main class="sans">
        <slot></slot>
    </main>
</Html>

<style define:vars={{ marginStr, mobileMarginStr, marginBottomStr }}>
    main {
        margin-top: 2%;
        margin-bottom: var(--marginBottomStr);
    }

    @media (min-width: 400px) {
        main {
            margin-left: var(--marginStr);
            margin-right: var(--marginStr);
        }
    }
    
    @media (max-width: 400px) {
        main {
            margin-left: var(--mobileMarginStr);
            margin-right: var(--mobileMarginStr);
        }
    }
</style>