---
import Header from '$component/Header.astro';
import emojiStatus from '@util/emoji';
import Global from '$component/Global.astro'
import Head from '$component/Head.astro'

const { props } = Astro;
const { frontmatter } = props;

const title = frontmatter?.title || props.title;

const lang = frontmatter?.lang || props.lang || 'en';

const page = props.page;

const {
	author = 'Zihan Chen',
	keywords = ['Blog', 'Personal website'],
	description = "Zihan's personal website and blog posts"
} = props.meta || {}
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author}>
		<meta name="keywords" content={keywords.join(', ')}>
		<meta name="description" content={description}>

		<title>{ title ? `${title} ${emojiStatus} Zihan` : 'Zihan' }</title>
		<link rel="icon" href="/avatar.png" type="image/png">

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9VRSWJKBT"></script>
		<script lang="js">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-Y9VRSWJKBT');
		</script>

		<Head></Head>
	</head>
	<body class="nod">
		<div id="site">
			<Header page={page}>
			</Header>
			<main id="main">
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
main {
	margin-left: 10%;
	margin-right: 10%;
}

#site {

}
</style>

<Global></Global>