---
import Layout from "$component/Layout.astro"
import Sidebar from "$component/Sidebar"
import '$style/typography.css'
import dayjs from "dayjs"
import Giscus from '$component/Giscus'

const article = Astro.props.frontmatter || Astro.props

const {
    title = 'Unknown title',
    description,
    image,
    pubDate
} = article

const headings = await Astro.props.headings

let date = dayjs(pubDate as string, 'YYYY/MM/DD').format('MMM D, YYYY')
---

<Layout {article} {description} {title} margin={20} marginRight={30}>
    {image && <img src={image.src} width={image.width} height={image.height} />}
    
    <h1 id="article-title">{title}</h1>
    <span id="pub-date">{date}</span>

    <article>
        <slot></slot>
    </article>

    <div id="giscus">
        <Giscus client:idle></Giscus>
    </div>

    <Sidebar client:idle {headings}></Sidebar>
</Layout>

<style is:global>
    article {
        margin-bottom: 10%;
    }

    @media (min-width: 400px) {
        main {
            /* margin-left: 20%;
            margin-right: 30%; */
        }
    }

    #pub-date {
        
    }
</style>