---
import Layout from "$component/Layout.astro"
import Sidebar from "$component/Sidebar"
import "$style/typography.css"
import "$style/sidebar.css"
import Tags from "$component/Tags.astro"
import t from "@t"
import CopyToClipboard from "$component/CopyToClipboard.astro"

const article = Astro.props.frontmatter || Astro.props

const { title = "Unknown title", description, image, pubDate, tags } = article

const headings = await Astro.props.headings

let date = t("post.date")(pubDate)
---

<Layout {article} {description} {title} margin={20} marginRight={30}>
	{
		image && (
			<img
				data-pagefind-meta="image"
				src={image.src}
				width="100%"
				alt={image.alt}
			/>
		)
	}

	<h1 id="article-title" data-pagefind-meta="title">{title}</h1>
	<span id="pub-date">{date}</span>

	<Tags {tags} />

	<article data-pagefind-body>
		<slot />
	</article>

	<div id="giscus">
		<script>
			import { mode, setMode, Mode, modeStr } from "$lib/mode"
			import { locale } from "@lang"

			const { mode: modeName } =
				((globalThis as any).zihan as { mode: Mode }) || {}
			setMode(modeName)

			const giscus = document.querySelector("#giscus")
			const script = document.createElement("script")
			script.setAttribute("data-repo", "zihan-ch/blog")
			script.setAttribute("data-repo-id", "R_kgDOIE6d3Q")
			script.setAttribute("data-category", "General")
			script.setAttribute("data-category-id", "DIC_kwDOIE6d3c4CR5h7")
			script.setAttribute("data-mapping", "pathname")
			script.setAttribute("data-strict", "0")
			script.setAttribute("data-reactions-enabled", "1")
			script.setAttribute("data-emit-metadata", "0")
			script.setAttribute("data-input-position", "top")
			script.setAttribute("data-theme", modeStr())
			script.setAttribute("data-lang", locale === "cn" ? "zh-CN" : "en")
			script.setAttribute("data-crossorigin", "anonymous")
			script.setAttribute("async", "true")
			script.setAttribute("data-loading", "lazy")
			script.setAttribute("src", "https://giscus.app/client.js")

			giscus?.appendChild(script)
		</script>
	</div>

	<Sidebar client:idle {headings} client:only="solid-js" />

	<CopyToClipboard />
</Layout>

<style is:global>
	article {
		margin-top: 5%;
		margin-bottom: 10%;
	}

	@media (min-width: 499px) {
		main {
			/* margin-left: 20%;
            margin-right: 30%; */
		}
	}

	#pub-date {
	}
</style>
