---
import Layout from "./Layout.astro";
import emojiStatus from '$util/emoji'
import Global from '$component/Global.astro'
import Header from '@component/Header.astro'
import dayjs from 'dayjs'
import Head from '$component/Head.astro'
import Scroll from '$component/Scroll'
import { getSortedPosts } from "@lib/posts";
// import WebVitals from "$component/WebVitals.svelte";

const { content, frontmatter } = Astro.props;

const {
    title = 'Blog post',
    description = 'This is one of my blog posts.',
    author = 'Zihan Chen',
    lang = 'en',
    keywords = ['blog', 'post', 'personal website'],
	url,
	image,
} = content || frontmatter || {}

let originalDate = content?.pubDate
const date = dayjs(originalDate).format('MMM D, YYYY')
const sortedPosts = await getSortedPosts(Astro.glob('../pages/post/*'))
let i: number | undefined = undefined
let previous: any
let next: any

sortedPosts.forEach((post: any, _i: number) => {
	if (post.url === url) i = _i
});

if (i !== undefined) {
	if (i !== 0) {
		next = sortedPosts[i - 1]
	}

	if (i !== sortedPosts.length - 1) {
		previous = sortedPosts[i + 1]
	}
}
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author}>
		<meta name="keywords" content={keywords.join(', ')}>
		<meta name="description" content={description}>

		<title>{ title ? `${title} ${emojiStatus} Zihan` : 'Zihan' }</title>
		<link rel="icon" href="/avatar.png" type="image/png">

		<Head></Head>

		<!-- <WebVitals client:idle></WebVitals> -->
	</head>
	<body class="nod">
		<div id="site">
			<Header page={'post'}>
			</Header>
			<main id="main">
				{
					image && (
						<img src={image.src} alt={image.alt || 'image'} width={image.width} height={image.height} />
					)
				}

				<h1 id="blog-title">{title}</h1>
				<span style="font-size: 18px;">{date}{date ? ', by ' : 'By '}{author}</span>
				
				<article data-clarity-region="article">
					<slot />
				</article>

				<!-- <div id="liscence">
					<span>Liscence: Creative Common(Attribution-NonCommercial-ShareAlike 4.0 International)</span>
				</div> -->

				<div id="pnn">
					<div id="previous">
						<a href={previous?.url} style="cursor: pointer;">
							<span><svg width="13" height="13" viewBox="0 0 24 24"><path fill="currentColor" d="M14.71 6.71a.996.996 0 0 0-1.41 0L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59a.996.996 0 1 0 1.41-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/></svg> Previous Post</span>
							{
								previous ? <h3>&nbsp;&nbsp;&nbsp;{previous?.frontmatter?.title}</h3>
									: <h3>&nbsp;&nbsp;&nbsp;This is my first post!</h3>
							}
						</a>
					</div>
					<div id="next">
						<a href={next?.url} style="cursor: pointer;">
							<span>Next Post <svg width="13" height="13" viewBox="0 0 24 24"><path fill="currentColor" d="M9.29 15.88L13.17 12L9.29 8.12a.996.996 0 1 1 1.41-1.41l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3a.996.996 0 0 1-1.41 0c-.38-.39-.39-1.03 0-1.42z"/></svg></span>
							{
								next ? <h3>{next?.frontmatter?.title}&nbsp;&nbsp;&nbsp;</h3>
									: <h3>This is my latest post!&nbsp;&nbsp;&nbsp;</h3>
							}
						</a>
					</div>
				</div>

				<script src="https://giscus.app/client.js"
					data-repo="zihan-ch/blog"
					data-repo-id="R_kgDOIE6d3Q"
					data-category="General"
					data-category-id="DIC_kwDOIE6d3c4CR5h7"
					data-mapping="pathname"
					data-strict="0"
					data-reactions-enabled="1"
					data-emit-metadata="0"
					data-input-position="top"
					data-theme="preferred_color_scheme"
					data-lang="en"
					crossorigin="anonymous"
					data-loading="lazy"
					async>
				</script>
				<!-- data-loading="lazy" -->
			</main>
		</div>

		<Scroll client:idle></Scroll>
	</body>
</html>

<style>
	main {
		margin-left: 23%;
		margin-right: 23%;
		margin-top: 3%;
		margin-bottom: 15%;
	}

	#blog-title {
		font-size: 44px;
	}

	#pnn {
		margin-top: 15%;
		display: flex;
		justify-content: space-between;
	}

	#previous {
		float: left;
	}

	#next {
		float: right;
		text-align: right;
	}

	/* #liscence {
		margin-top: 5%;
		text-align: center;
	} */
</style>

<style is:global>
	.giscus {
		margin-top: 10%;
	}

	code {
		--border-radius: 8px;
		--padding-block: 0.2em;
		--padding-inline: 0.3em;
		/* font-family: var(--font-mono); */
		font-size: 0.9em;
		/* color: var(--theme-code-inline-text); */
		background-color: var(--theme-code-inline-bg);
		padding: var(--padding-block) var(--padding-inline);
		margin: calc(var(--padding-block) * -1) 0;
		border-radius: var(--border-radius);
		word-break: break-word;
	}
</style>

<Global></Global>