---
import Layout from "$component/Layout.astro"
import Sidebar from "$component/Sidebar"
import '$style/typography.css'
import dayjs from "dayjs"

const article = Astro.props.frontmatter || Astro.props

const {
    title = 'Unknown title',
    description,
    image,
    pubDate
} = article

const headings = await Astro.props.headings

let date = dayjs(pubDate as string, 'YYYY/MM/DD').format('MMM D, YYYY')
---

<Layout {article} {description} {title} margin={25}>
    {image && <img src={image.src} width={image.width} height={image.height} />}
    
    <h1 id="article-title">{title}</h1>
    <span id="pub-date">{date}</span>

    <article>
        <slot></slot>
    </article>

    <Sidebar client:idle {headings}></Sidebar>

    <script src="https://giscus.app/client.js"
        data-repo="zihan-ch/blog"
        data-repo-id="R_kgDOIE6d3Q"
        data-category="General"
        data-category-id="DIC_kwDOIE6d3c4CR5h7"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
</Layout>

<style is:global>
    article {
        margin-bottom: 10%;
    }

    #pub-date {
        
    }
</style>